body {
  background: url('/images/ShuffleStats_BG.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-bar-logo {
  padding-top: 10px;
  padding-left: 725px;
}

.log-in {
  display: flex !important;
  justify-content: center;
}

.login-container {
  padding-top: 100px;
}

.logo {
  transition: all 0.25s ease-in-out;
  padding-left: 105px;
}

.logo:hover {
  transform: scale(1.2);
  transition: all 0.25s ease-in-out;
}

img.bg {
  min-height: 100%;
  min-width: 1024px;

  width: 100%;
  height: auto;

  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.stats_container {
  margin: auto;
  margin-top: auto;
  padding: 50px;
}

.flex-container {
  display: flex;

}

.flex-child {
  flex: 1;
}

.game-container {
  width: 75%;
  margin: auto;
  padding-left: 200px;
  padding-top: 50px;
}

.table-container {
  width: 75%;
  padding-left: 75px;
}

.log-submit-button {
  padding-top: 10px;
  padding-right: 175px;
}

.game-input-container{
  padding-top: 20px;
  padding-right: 185px;
}

.log-header {
  padding-top: 100px;
  padding-bottom: 25px;
}

.game-log-container {
  padding-left: 0px;
}
